<!-- <app-directive-samples></app-directive-samples> -->
<!-- <app-template-forms-sample></app-template-forms-sample> -->
<!-- <app-reactive-forms-sample></app-reactive-forms-sample> -->
<!-- <app-posts></app-posts> -->
<h1>Angular Sample</h1>
<nav
  class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="#"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="todo" routerLinkActive="active"
            >To Do</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="posts"
            [queryParams]="{ sortBy: 'title', order: 'asc', page: '1' }"
            routerLinkActive="active"
            >Posts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="template-forms"
            routerLinkActive="active"
            >Template Forms</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="reactive-forms"
            routerLinkActive="active"
            >Reactive Forms</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile" routerLinkActive="active"
            >Profile</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="todo">ToDo</a></li>
  <li><a routerLink="posts">Posts</a></li>
  <li><a routerLink="template-forms">Template Forms</a></li>
  <li><a routerLink="reactive-forms">Reactive Forms</a></li>
  <li><a routerLink="profile">Profile</a></li>
</ul> -->
<router-outlet></router-outlet>
